html{
	font-size: 14px;
}
body{
	font-family: "Open Sans", "Monoton", sans-serif;
}

/*HEADER SECTION*/
.navbar-default .navbar-nav>li>a{
	font-size: 1.1rem;
	font-weight: bold;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: initial;
	color: #399bd1;
}
/*JUMBOTRON SECTION*/
.jumbotron {
	text-align: center;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
	padding-top: 11.85rem;
	padding-bottom: 11.85rem;
	text-shadow: 
	    -1px -1px 0 #000,
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
	    1px 1px 0 #000;
}
.jumbotron-bike{
	background-image: url('../images/jumbotron-bike.jpg');
}
.jumbotron h1{
	font-family: "Monoton", sans-serif;
	font-size: 7.1rem;
	color: white;
}
.jumbotron p{
	max-width: 51.3rem;
	margin: 0 auto;
}
.jumbotron .container-fluid{
	padding-bottom: 2.8rem;
}
.btn-primary{
	width: 11.4rem;
	padding-top: 1.3rem;
	padding-bottom: 1.3rem;
	background-color: #399bd1;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	transition: box-shadow 0.3s ease-in-out;
	text-shadow: none;
}
.btn-primary:hover{
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
	background-color: #399bd1;
	border: 0;
}
.btn-primary:active{
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}
.btn{
	border: 0;
}
/*FEATURED PROJECT SECTION*/
.feathead{
	padding-bottom: 20px;
}
.featured h3{
	font-size: 1.7rem;
	font-weight: bold;
	color: #399bd1;
}
.featured h4{
	font-size: 1.3rem;
	font-weight: bold;
	color: #399bd1;
}
.documentary h4{
	color: black;
}
.featured ul li{
	color: rgba(0, 0, 0, 0.7);
	line-height: 1.4;
}
.image-container img{
	width: 100%;
	opacity: 0.7;
	transition: transform 0.5s, opacity 0.5s;
}
.image-container img:hover{
	opacity: 1;
	transform: scale(1.3, 1.3);
}
.image-container{
	overflow: hidden;
}
/*PROJECTS SECTION*/
.projhead h3{
	font-size: 1.7rem;
	font-weight: bold;
	color: #399bd1;
}
.projects h4{
	font-size: 1.3rem;
	font-weight: bold;
}
.projects{
	padding-bottom: 5.85rem;
}
/*HELP SECTION*/
.help{
	padding-top: 5.2rem;
	padding-bottom: 5.2rem;
	text-align: center;
	background-color: #f3f3f3;
}
h2{
	font-size: 2.5rem;
	font-weight: bold;
	padding-bottom: 1.4rem;
}
.help p{
	margin: 0 auto;
	width: 42rem;
}
.help .btn{
	margin-top: 2.8rem;
}
/*PHONE SCREENS*/
@media only screen and (max-width: 768px){
	.jumbotron h1{
		font-size: 5.7rem;
	}
}